@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Tipografías de Marca (Default) */
    --font-family-heading: 'Poppins', sans-serif;
    --font-family-body: 'Inter', sans-serif;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: #111827; /* Negro Azulado (Neutral 900) */
    --primary-foreground: #ffffff;

    --secondary: #f3f4f6;
    --secondary-foreground: #111827;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #111827;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-family-body);
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
  }
}
