:root {
  /* Scale: 4px base */
  --lpd-space-0: 0px;
  --lpd-space-1: 0.25rem; /* 4px */
  --lpd-space-2: 0.5rem;  /* 8px */
  --lpd-space-3: 0.75rem; /* 12px */
  --lpd-space-4: 1rem;    /* 16px */
  --lpd-space-5: 1.25rem; /* 20px */
  --lpd-space-6: 1.5rem;  /* 24px */
  --lpd-space-8: 2rem;    /* 32px */
  --lpd-space-10: 2.5rem; /* 40px */
  --lpd-space-12: 3rem;   /* 48px */
  --lpd-space-16: 4rem;   /* 64px */
  --lpd-space-20: 5rem;   /* 80px */
  --lpd-space-24: 6rem;   /* 96px */
  --lpd-space-32: 8rem;   /* 128px */
  --lpd-space-40: 10rem;  /* 160px */
  --lpd-space-48: 12rem;  /* 192px */
  --lpd-space-56: 14rem;  /* 224px */
  --lpd-space-64: 16rem;  /* 256px */
  --lpd-space-80: 20rem;  /* 320px */
}
