@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    font-family: var(--lpd-font-sans), sans-serif;
    color: var(--lpd-color-text-base);
    background-color: var(--lpd-color-bg-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code, pre {
    font-family: var(--lpd-font-mono), monospace;
  }
}
