.theme-client-b {
  /* Fonts */
  --lpd-font-sans: 'Poppins', sans-serif;

  /* Mapeo a los tokens de LoopDev (Client B Palette) */
  --lpd-color-brand-primary: #ec4899; /* Pink */
  --lpd-color-brand-secondary: #8b5cf6; /* Violet */
  --lpd-color-bg-base: #faf5ff;
  --lpd-color-text-base: #4c1d95;

  /* Legacy */
  --brand-primary: #ec4899;
  --brand-secondary: #8b5cf6;
}