.theme-estar-protegidos {
  /* Fonts */
  --lpd-font-sans: 'Inter', sans-serif;

  /* Mapeo Exacto de BrandData.ts */
  --lpd-color-brand-primary: #57C19A;
  --lpd-color-brand-secondary: #00745A;
  --lpd-color-bg-base: #F6F3EE;
  --lpd-color-text-base: #324450;

  /* Tokens Legacy para compatibilidad */
  --brand-primary: #57C19A;
  --brand-secondary: #00745A;
  --brand-tertiary: #124559;
  --brand-surface: #F6F3EE;
  --text-on-primary: #00382B;
}