# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Env files
.env
.env.*

# Mac system files
.DS_Store

# IDE files
.vscode/
.idea/

# Others
*.local

# Turbo/Next.js/Storybook
.turbo
.next
storybook-static
.env.*.local
